body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("/assets/speedwagonbg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(50, 30, 50);
}

p,
h1 {
  user-select: none;
  margin: 0;
  color: rgb(240, 240, 240);
}

#ball {
  position: absolute;
  width: 150px;
  height: 150px;
  box-shadow: 10px 10px 30px -10px #000000;
  outline-offset: -2px;
  background-image: url("assets/speedwagon.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  overflow: hidden;
}

@keyframes spin-right {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-left {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0);
  }
}

#ball:before {
  content: "";
  position: absolute;
  top: -3%;
  left: -3%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(
    circle at 20% 0px,
    #ffffff,
    rgba(255, 255, 255, 0) 58%
  );
  filter: blur(10px);
  z-index: 2;
}

#ball:after {
  content: "";
  position: absolute;
  border-radius: 100%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(
    circle at 50% 30%,
    rgba(245, 237, 48, 0),
    rgba(190, 190, 190, 0.2) 50%,
    rgb(86, 86, 86) 100%
  );
}

#game {
  position: relative;
  width: 600px;
  height: 100vh;
  background-color: rgb(240, 240, 240);
  margin: auto;
  outline: 6px inset rgb(0, 0, 0);
  box-shadow: 0 0 30px 0 inset rgb(0, 0, 0);
  overflow: hidden;
}

#clickable-area {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 9000;
}

#score {
  margin: 1rem;
  display: flex;
  flex-direction: row;
}

#score-number {
  margin-left: 0.5rem;
}

#top-bar {
  position: absolute;
  display: flex;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: rgb(0, 0, 0);
  z-index: 10000;
}

#footer {
  text-align: right;
  position: absolute;
  bottom: 0;
  width: 100%;
}

#footer-text {
  font-family: "Schoolbell";
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.2rem;
  margin: 1rem;
}
